## Secretos y credenciales
aws_secrets.json

## Entornos virtuales y dependencias
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pkl
.lock

## Datos locales y dumps
file/
local_s3_dump/
*.parquet

## Archivos temporales y de asistente
.assistant

## Otros
.DS_Store
Thumbs.db
gold_cell_0.py
gold_cell_1.py
inspect_bronze.py
local_analytics.py